@import "./styles/fonts.css";
@import "./styles/palette.css";

html {
  background: radial-gradient(
    94.17% 94.17% at 50% 5.83%,
    #55307f 0%,
    #231434 100%
  );
}

.header,
footer,
footer-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 48px;
}

.content-area {
  padding: 0px 48px;
  display: flex;
}

.column-left {
  width: 64%;
  margin-right: 24px;
}

.column-right {
  flex-grow: 100;
}

.residents {
  background-image: url("./assets/lettered-bg.svg");
}
