@import "./styles/fonts.css";
@import "./styles/palette.css";

html {
  background: radial-gradient(
    94.17% 94.17% at 50% 5.83%,
    #55307f 0%,
    #231434 100%
  );
}

.flex {
  display: flex;
  align-items: center;
}

.header,
.footer {
  justify-content: space-between;
  padding: 48px;
}

.content-area {
  padding: 0px 48px;
}

.column-left {
  width: 64%;
  margin-right: 24px;
}

.column-right {
  flex-grow: 100;
}

.residents {
  background-image: url("./assets/lettered-bg.svg");
}

.margin-r-small {
  margin-right: 6px;
}
.margin-r-medium {
  margin-right: 12px;
}

p {
  margin: 0px;
}
ul {
  list-style-type: none;
}
