@import "./styles/fonts.css";
@import "./styles/palette.css";

html {
  background: radial-gradient(
    94.17% 94.17% at 50% 5.83%,
    #55307f 0%,
    #231434 100%
  );
  min-height: 100%;
}

.flex {
  display: flex;
  align-items: center;
}

.header,
.footer {
  justify-content: space-between;
  padding: 160px 120px 80px 120px;
}

.content-area {
  padding: 0px 48px;
  align-items: flex-start;
}

.column-left {
  width: 64%;
  margin-right: 24px;
}

.column-right {
  flex-grow: 100;
}

.residents {
  background-image: url("./assets/lettered-bg.svg");
}

.margin-r-small {
  margin-right: 6px;
}
.margin-r-medium {
  margin-right: 12px;
}

p {
  margin: 0px;
}
ul {
  list-style-type: none;
}

.card-small {
  height: 220px;
}

.card-large {
  height: 560px;
}

.game-main {
  width: 360px;
  height: 360px;
  background-color: var(--colorWhite_100);
  margin: 0 auto 48px auto;
  border-radius: 1rem;
}

.justify {
  justify-content: space-between;
}

.game-card {
  width: 300px;
  height: 300px;
  background-color: var(--colorWhite_100);
  border-radius: 1rem;
}
